<div>
    <label for="campo-nome"> Nome</label>
    <input type="text" id="campo-nome" placeholder="Digite um nome" [(ngModel)]="nome">
    <div>
        <label for="Campo-valor">Valor</label>
        <input type="text" id="Campo-valor" [(ngModel)]="valor"> 
    </div>

</div>
<button (click)="salvarReceita()">Salvar</button>
@if(nome != ""){
<p>Texto digitado:{{nome}} </p>

<ul>
    <li>1 vez: {{valor * 1}} </li>
    <li>2 vez: {{valor * 2}} </li>
    <li>3 vez: {{valor * 3}} </li>
    <li>4 vez: {{valor * 4}} </li>
</ul>
}